@import './libs/cards.css';
@import './libs/btns.css';
@import './libs/banner.css';
@import './libs/homepage.css';
@import './libs/navigation.css';
@import './libs/footer.css';
@import './libs/login.css';
@import './libs/fonts.css';
@import './libs/products.css';
@import './libs/details.css';
@import './libs/cart.css';

/* Color pallets and variables  */
:root {
	--mainColor: #70bf48;
	--secondaryColor: #2f4858;
}
.hidden {
	display: none;
}
